# IDE directories
.idea

# Build directories
.gradle
build
out

# Testing directories
JFDFTransformer
transform_out
src/test
lib

# Build files
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

# IDE/Test extensions
*.iml
*.jar
